:root {
    --var-text-black: #000000;
    --var-text-aqua: #28E6D1;
    --var-text-green: #26DDC9;
    --var-text-white: #50555C;
    --var-background:#C0DBDA;
    --var-white-900: #ffffff;
    --var-aqua-slight: #DBFAF9;
    --var-bg-yellow: #ffff00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navbar section  */
.nav {
    height: 85px;
    width: 100%;
    background: var(--var-background);
    display: flex;
}

.nav .navbar {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-logo {
    padding: 5px 0;
    height: auto;
    display: flex;
}

.nav .nav-logo img {
    width: 75px;
    height: 65px;
}

.nav .nav-logo h1 {
    margin: 20px 5px;
}

.nav .nav-links {
    width: 30%;
}

.nav .nav-links .nav-link-container {
    list-style: none;
    display: flex;
    width: 100%;
    font-size: 20px;
    margin: 20px 25px;
    float: right;
}

.nav .nav-links .nav-link-container .nav-link-item a {
    text-decoration: none;
    padding-left: 55px;
    color: var(--var-text-black);
}

.nav .nav-links .nav-link-container .nav-link-item a.active {
    color: #2396a1;
}

.nav .nav-button {
    flex: 0 0 10%;
    max-width: 150px;
    margin: 13px 15px;
}

.nav .nav-button .btn {
    height: 40px;
    width: 100%;
    background: var(--var-text-green);
    color: var(--var-white-900);
    border-radius: 25px;
    border: none;
    font-size: 18px;
}


/* container section  */

.content {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.content .front-view {
    width: 100%;
    padding: 0;
    height: 500px;
    background-color: var(--var-aqua-slight);
    position: relative;
    display: flex;
}

.content .front-view .front-view-details {
    flex: 0 0 60%;
    max-width: 60%;
    margin: 10% 5%;
}

.content .front-view .front-view-details h1 {
    font-size: 50px;
    margin-bottom: 3px;
}

.content .front-view .front-view-details p {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.content .front-view .front-view-details .nav-button {
    width: 25%;
}

.content .front-view .front-view-details .nav-button .btn {
    height: 45px;
    width: 80%;
    background: var(--var-text-green);
    color: var(--var-white-900);
    border-radius: 25px;
    border: none;
    font-size: 20px;
}

.content .front-view .front-view-image {
    flex: 0 0 40%;
    max-width: 40%;
}

.content .front-view .front-view-image img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.content .aboutContentQuote {
    width: 90%;
    height: 200px;
    margin: 150px auto 20px;
}

.content .aboutContentQuote .heading {
    width: 90%;
    font-size: 45px;
}

.content .aboutContentQuote .author {
    width: 20%;
    float: right;
    text-align: right;
}


.workingPrinciple {
    width: 100%;
    height: 350px;
    background: var(--var-aqua-slight);
}

.workingPrinciple .sub-workingPrinciple {
    width: 90%;
    margin: 0 auto;
}

.workingPrinciple .sub-workingPrinciple .heading {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 700;
}

.workingPrinciple .sub-workingPrinciple .workingPrinciple-steps {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.workingPrinciple .workingPrinciple-steps .workingPrinciple-step {
    width: 25%;
    margin: 0 5px 0 0;
}

.workingPrinciple .workingPrinciple-steps .workingPrinciple-step .number {
    border: 1px solid var(--var-text-black);
    width: 20%;
    height: 45px;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.services {
    width: 90%;
    margin: 70px auto 60px auto;
}

.services .twin-headings {
    margin-bottom: 20px;
}

.services .twin-headings h1{
    font-size: 35px;
    margin-bottom: 5px;
}

.services .twin-headings p {
    font-size: 20px;
    font-weight: 600;
}

.services .services-description {
    width: 100%;
    padding: 0;
    margin: 0;
}

.services .services-description .services-description-large,  .services .services-description .services-description-small{
    width: 100%;
    display: flex;
}

.services .services-description .services-description-large .services-description-items-large {
    flex: 0 0 51%;
    max-width: 51%;
    height: 300px;
    margin-bottom: 20px;
}

.services .services-description .services-description-large .services-description-items-large img, .services .services-description .services-description-small .services-description-item img {
    width: 95%;
    height: 300px;
}

.services .services-description .services-description-small .services-description-item {
    flex: 0 0 33.7%;
    max-width: 33.7%;
    height: 300px;
}

.services .services-description .services-description-large .services-description-items-large span,
.services .services-description .services-description-small .services-description-item span {
    height: 300px;
    display: inline-block;
    width: 95%;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    opacity: 0.5;
    position: relative;
    top: -303px;
    left: 0;
    padding-top: 150px;
    color: white;
    overflow: hidden;
    background: var(--var-text-black); 
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe {
    width: 100%;
    padding: 50px 0;
    background-color: var(--var-aqua-slight);
}

.sub-subscribe {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.subscribe p {
    font-size: 18px;
}

.subscribe .subscribe-left {
    width: 50%;
}

.subscribe .subscribe-left .subscribe-left-form {
    margin-top: 15px;
}

.subscribe .subscribe-left .subscribe-left-form input {
    height: 40px;
    margin: 10px  5px;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

.subscribe .subscribe-left .subscribe-left-form input[type="button"] {
    background: var(--var-text-green);
    color: var(--var-white-900);
    border-radius: 5px;
    border: none;
    font-size: 20px;
}


.subscribe .subscribe-right {
    width: 30%;
    text-align: right;
}

.about-us {
    width: 90%;
    height: auto;
    padding: 65px 0;
    margin: 0 auto;
}

.about-us h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.about-us p {
    font-size: 20px;
    font-weight: 700;
}

.about-us .about-us-items {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.about-us .about-us-items .about-us-item .about-us-outer {
    border-radius: 5px;
    width: 250px;
    height: 180px;
    padding: 20px;
    text-align: center;
    /* border: 1px solid black; */
    padding: 20px;
}

.about-us .about-us-items .about-us-item .about-us-outer i  {
    font-size: 90px; 
    color: #2396a1;
}

.about-us .about-us-items .about-us-item .about-us-description {
    margin-top: 25px;
    font-weight: 500;
    color: #2396a1;
}

.book-us {
    width: 100%;
    height: auto;
    padding: 65px 45px;
    background-color: var(--var-aqua-slight);
}

.book-us .book-us-content {
    width: 100%;
    display: flex;
    margin-top: 45px;
}

.book-us .sub-book-us {
    width: 90%;
    margin: 0 auto;
}

.book-us h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.book-us p {
    font-size: 20px;
    font-weight: 700px;
}

.book-us .sub-book-us .book-us-content {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}


.book-us .book-us-content .book-us-form .book-us-form-item input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.book-us .book-us-content .book-us-form .book-us-form-item textarea {
    width: 100%;
    height: 170px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.book-us .book-us-content .book-us-form .book-us-form-item input[type="submit"] {
    background: #2396a1;
    color: var(--var-white-900);
    border-radius: 5px;
    border: none;
    width: 100%;
}

.book-us .book-us-content .book-us-place img{
    width: 100%;
    height: 100%;
}


.book-us .book-us-content .book-us-form  {
    width: 30%;
}


.book-us-details {
    width: 25%;
}

.book-us .book-us-content .book-us-place {
    width: 38%;
}

.book-us-details {
    text-align: right;
}

.book-us-details .book-us-details-item {
    display: flex;
    align-items: center;
    height: 45px;
    margin: 0;
    padding: 0;
}

.book-us-details .book-us-details-item .icon {
    margin-right: 10px;
    color: #2396a1;
    font-size: 20px;
}

.book-us-details .book-us-details-item .description p {
    font-family: 300;
    font-size: 16px;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: #2396a1;
    font-size: 20px;
    font-weight: 700;
}